html, body {
    background-color: #004643;
}

.hrnet-form-container{
    background-color: #abd1c6;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: #fff;
}

/* .hrnet-form-button{
    background-color: #f9bc60;
} */