:root {
  --textcolor: #fffffe;
}

.container{
  height: 100vh;
  padding-top: 3em;
  background-image: url("../assets/filigrane_table.webp");
  background-repeat: no-repeat;
  background-position: bottom right;
  color: white;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 1em auto 0.5em auto;
  text-align: center;
  color: var(--textcolor);
}

.link {
  color: var(--textcolor);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  margin: 1em auto;
}

.link:hover {
  color: var(--textcolor);
  text-decoration: underline;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 1.5em auto 1em auto;
  text-align: center;
  color: var(--textcolor);
}

.hrnet-form-container {
  background: rgba(171, 209, 198, 0.3);
  box-shadow: 2px 8px 6px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  border-radius: 25px;
  padding: 20px;
  color: #fff;
  width: 50%;
  margin: 2em auto 1em auto;
}
